<div class="col-xs-12">
<h2 align="center">Overview</h2>
<h3 align="center">QuickTask</h3>
<div class="input-group">
    <input class="form-control" type="text" placeholder="QuickTask" #taskTitle>
    <div class="input-group-addon" >
    <button class="glyphicon glyphicon-pushpin" style="color:green" (click)="addTask(taskTitle)" ></button>
    </div>
</div>
<ul class=list-group>
    <div *ngFor="let task of tasks">
    <app-single-task *ngIf="task.folder=='QuickTask'"
    [taskName]="task.name"
    [taskFolder]="task.folder"
    [taskCompteur]="task.compteur"
    [taskId]='task.id'
    [taskIsRunning]='task.isRunning'
></app-single-task>
    </div>
</ul>

<h3 align="center">Folders</h3>


    <div *ngFor="let folder of folders">
        <div *ngIf="folder!='QuickTask'">
            
            <div class="input-group-addon" >  
            <button  style="color:green" [routerLink]="['/folder', folder]" >{{folder}}</button>
        </div>
        <ul class=list-group>
        <div *ngFor="let task of tasks">
            <app-single-task *ngIf="task.folder==folder"
    [taskName]="task.name"
    [taskFolder]="task.folder"
    [taskCompteur]="task.compteur"
    [taskId]='task.id'
></app-single-task>
        </div>
    </ul>  
        </div>
    </div>

<button class="btn btn-success btn-block">New Folder</button>