<li class="list-group-item justify-content-between">
{{taskName}} {{secondToTime()}}
 <button class="glyphicon glyphicon-trash" style="color:red" (click)="deleteTask()"></button>
 <button *ngIf="taskIsRunning==false" class="glyphicon glyphicon-play" style="color:green" (click)="runTask()"></button>
 <button *ngIf="taskIsRunning==true" class="glyphicon glyphicon-pause" style="color:blue" (click)="runTask()"></button>
 <!--<button class="glyphicon glyphicon-time text-info" [routerLink]="['/taskHistoy', taskId]"></button>-->
 <button class="glyphicon glyphicon-option-horizontal" style="color:gray" [routerLink]="['/taskEdit', taskId]" [queryParams]="{taskId: TaskId}"></button>
</li>
